
// ============================================================================
//  EKTU brand fonts
//  Loads Manrope (fallback) from Google Fonts and declares the licensed
//  "Atyp Display" face via local() — if the foundry font files are hosted by
//  the site, replace the local() sources below with url(...) @font-face srcs.
// ============================================================================
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Atyp Display';
  src: local('Atyp Display'), local('AtypDisplay-Regular');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: local('Atyp Display Medium'), local('AtypDisplay-Medium');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: local('Atyp Display Semibold'), local('AtypDisplay-Semibold');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: local('Atyp Display Bold'), local('AtypDisplay-Bold');
  font-weight: 700;
  font-display: swap;
}
